.button {
  display: inline-block;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  color: white;
  padding: 0.8rem 1.8rem;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.4s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(0.95);
}

.button:active {
  transform: translateY(1px);
}
