.wrapper {
  min-height: 100vh;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.title {
  font-size: 8rem;
  font-weight: 800;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  text-shadow: 0 0 20px rgba(79, 172, 254, 0.5);
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem 0;
}

.text {
  max-width: 500px;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  color: white;
  padding: 0.8rem 1.8rem;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.4s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(0.9);
}

.button:active {
  transform: translateY(1px);
}
